$c-bg = #FFFAE6
$c-orange-main = #FF8A00
$c-orange-light = #FF8A0033
$c-green-main = #1BD97B
$c-green-light = #1BD97B1A
$c-black-main = #000
$c-black-light = #00000099
$c-grey-main = #CCCCCC
$c-white-main = #fff


.color-orange{
  color: $c-orange-main
}
.color-green{
  color: $c-green-main
}
.color-white{
  color: $c-white-main
}
.color-black--light {
  color: $c-black-light
}
.color-grey{
  color: $c-grey-main  
}

.responsive-container--row{
  display: flex
  flex-direction: row
}
.responsive-container--column{
  display: flex
  flex-direction: column
}